/* header */
.headerPrincipal .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headerPrincipal-nav {
    display: flex;
}

/* header */
/* main */
.videoSobre .container {
    display: flex;
}

.videoSobre-sobre{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.videoSobre-video{
    flex-grow: 2;
    flex-shrink: 2;
}

.videoSobre-sobre-list{
    flex-grow: 2;
}

.contenidoPrincipal-cursos {
    display: flex;
    flex-wrap: wrap;
}

.contenidoPrincipal-cursos-link {
    display: flex;
    width: 23%;
}

/* main */
/* footer */
.rodapePrincipal-navMap-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 260px;
}

.rodapePrincipal-patrocinadores .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rodapePrincipal-patrocinadores-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
}

.rodapePrincipal-contatoForm-fieldset {
    display: flex;
}

/* footer */

/* Responsive */
@media only screen and (max-width: 768px) {

    /* header */
    .headerPrincipal .container {
        flex-direction: column;
        align-items: initial;
        text-align: center;
    }

    .headerPrincipal-nav {
        flex-direction: column;
    }
    .headerPrincipal-nav-link-app{
        order: -1;
    }

    /* header */
    /* main */
    .videoSobre .container{
        flex-direction: column;
    }

    .contenidoPrincipal-cursos {
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .contenidoPrincipal-cursos-link {
        width: 100%;
    }

    /* main */
    /* footer */
    .rodapePrincipal-navMap-list {
        flex-direction: column;
        height: auto;
        text-align: center;
    }

    .rodapePrincipal-patrocinadores .container {
        flex-direction: column;
    }

    .rodapePrincipal-patrocinadores-list {
        width: 100%;
    }

    /* footer */
}